PORT=5002
DB_HOST=localhost
DB_PORT=5432
DB_USER=cooperativa_user
DB_PASSWORD=tu_password_seguro
DB_NAME=banco_db
ADMIN_DB=postgres
NODE_ENV=development
BANCO_INTERNAL_API_KEY=banco_internal_secret_key_2026
